body {
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    font-family: Sansation-Bold;
}

@font-face {
    font-family: 'Sansation-Bold';
    src: url("../font/Sansation-Bold.ttf");
}

#main {
    /*display: grid;*/
    /*grid-template-rows: 60% 40%;*/
    /*grid-template-columns: 100%;*/
    /*position: relative;*/
    position: relative;
    width: 100%;
    height: 100%;
}

#mainview {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#snet-layout {
    width: 100%;
    height: 100%;
    display: none;
}

#palemap {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    /*background-image: url("../images/map/Floian_Dapingian.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*background-size: 100% 100%;*/
}

#map {
    width: 100%;
    height: 100%;
}

#time {
    width: 100%;
    height: 100%;
}

#network {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

#snet-force {
    width: 100%;
    height: 100%;
    display: block;
}

#snet-layout {
    width: 100%;
    height: 100%;
    display: none;
}

#tnet-layout {
    width: 100%;
    height: 100%;
    display: none;
}

#left {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
}

#right {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%
}

#mapcontainer {
    position: relative;
}

.container {
    border: 1px solid #777;
    position: relative;
}

.x-axis text {
    user-select: none;
}

#tooltip {
    z-index: -10;
    position: absolute;
    /*pointer-events: none;*/
    color: #222;
    background-color: #f6f5ee;
    padding: 5px 10px;
    display: none;
    border-radius: 5px;
    font-size: 16px;
}

#imageWindow {
    z-index: -10;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    color: #222;
    background-color: #f6f5ee;
    display: none;
    border-radius: 5px;
    font-size: 14px;
    width: 600px;
    height: 500px;
}

#imgsContainer {
    display: grid;
    justify-content: center;
    /*grid-row-gap: 10px;*/
    width: inherit;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.close {
    position: absolute;
    right: 28px;
    top: 10px;
    width: 10px;
    height: 10px;
    opacity: 1;
    z-index: 10;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #aaa;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.imglist {
    padding: 10px;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

#fsimg {
    position: absolute;
    display: none;
    width: 50%;
    height: 100%;
    transform: translate(0px, 0px);
    z-index: -10;
    /*background-repeat: no-repeat;*/
    /*background-position: left top;*/
    /*background-size: contain;*/
}

/*.imgcontain {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
/*    background-size: contain*/
/*}*/

.imgInfo {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    overflow-x: hidden;
    overflow-y: auto
}

.imgInfoText {
    display: grid;
    align-items: end;
    grid-template-columns: 95%;
    grid-template-rows: repeat(5, auto);
    justify-content: center;
}

.selected {
    fill: red;
}

.ctrlButton {
    width: 40px;
    height: 36px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    margin: 0;
}

.imgButton {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 36px;
    color: #aaa;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}

.buttonBorder {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-template-rows: 36px;
    grid-column-gap: 10px;
    justify-content: left;
    align-content: space-between;
    width: 150px;
    height: 36px;
    z-index: inherit;
}


.switch {
    background-image: url("../images/icon/switch.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    width: 40px;
    height: 36px;
}

.layerswitch {
    background-image: url("../images/icon/layer.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 50px;
    height: 50px;
}

.switchButton {
    position: absolute;
    z-index: 100;
    /*background-color: crimson;*/
    top: 90%;
    left: 1%;
}

#layerSwitch {
    position: absolute;
    z-index: 100;
    top: 3%;
    left: 1%;
}

.dropdown-content {
    font-family: Sansation-Bold;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /*rig: 1%;*/
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

#funlist {
    position: absolute;
    display: grid;
    top: 10px;
    left: 10px;
    width: 425px;
    /*border: 2px solid #777;*/
    /*border-radius: 10px;*/
    /*display: inline;*/
    z-index: 100;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-template-rows: 36px;
    justify-content: center;
    align-content: space-between;
    border: 1px solid #777;
    border-radius: 10px;
}

.buttonIcon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    width: 40px;
    height: 36px;
}

#clickNode {
    background-image: url("../images/icon/click.svg");
}

#rectBrush {
    background-image: url("../images/icon/rectbrush.svg");
}

#polyBrush {
    background-image: url("../images/icon/polybrush.svg");
}

#showTip {
    background-image: url("../images/icon/tooltip.svg");
}

#linkHightlight {
    background-image: url("../images/icon/network.svg");
}

#transform {
    background-image: url("../images/icon/transform.svg");
}

#timenet {
    background-image: url("../images/icon/list_temporal.svg");
}

.polybrush .extent {
    stroke-width: 2px;
    fill: rgb(119, 119, 119);
    fill-opacity: 0.3;
    stroke: #222;
    shape-rendering: crispedges;
}

#imggrid {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.imgcell {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}
